*{
	box-sizing: border-box;
}

.logo{
	width: 100%;
	height: auto;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 2px; 
  padding: 14px 28px;
  font-family: 'Staatliches', cursive;
  font-weight: 500;
  font-size: 18px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-12{
  position: relative;
  right: 20px;
  bottom: 20px;
  border:none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}
.btn-12 span {
  background: rgb(0,172,238);
background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  border-radius: 5px;
  margin:0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.btn-12 span:nth-child(1) {
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
 color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

#main{
	display: none;
}

#chatroom{
	display:none;
}

#ifr{
	display:none;
}

#about{
	padding:10px;
	display:none;
	font-family: 'Open Sans', sans-serif;
}

#code{
	resize:none;
	outline:none;
	border: 2px solid;
	box-shadow: 3px 3px black;
	border-radius:3px;
	font-family: 'Boogaloo', cursive;
}

.run{
	background:linear-gradient(145deg,#6B73FF,#000DFF);
	border-radius:3px;
	outline:none;
	padding:5px 20px;
	border:none;
	color:#fff;
	font-family: 'Staatliches', cursive;
 text-transform: uppercase;
 letter-spacing: 2px;
 cursor:pointer;
}

.copy{
	background:linear-gradient(145deg,#5AFF15,#00B712);
	border-radius:3px;
	outline:none;
	padding:5px 20px;
	border:none;
	color:#000;
	font-family: 'Staatliches', cursive;
 text-transform: uppercase;
 letter-spacing: 2px;
 cursor:pointer;
}

.share{
	background:linear-gradient(145deg,#852d91,#312a6c);
	border-radius:3px;
	outline:none;
	padding:5px 20px;
	border:none;
	color:#fff;
	font-family: 'Staatliches', cursive;
 text-transform: uppercase;
 letter-spacing: 1px;
 cursor:pointer;
}

.down{
	background:linear-gradient(145deg,#DB3445,#F71735);
	border-radius:3px;
	outline:none;
	padding:5px 20px;
	border:none;
	color:#fff;
	font-family: 'Staatliches', cursive;
 text-transform: uppercase;
 letter-spacing: 2px;
 cursor:pointer;
}

.help{
	background:#FEE140;
	border: 1px solid black;
	outline:none;
	color:#000;
	font-family: 'Staatliches', cursive;
 text-transform: uppercase;
 letter-spacing: 1px;
 cursor:pointer;
}

.about{
	background:linear-gradient(145deg,#232526,#414345);
	border-radius:8px;
	outline:none;
	padding:7px 7px;
	border:none;
	color:#fff;
 cursor:pointer;
 font-size:18px;
}

.back_2{
	background:linear-gradient(145deg,#B91372,#6B0F1A);
	border-radius:3px;
	outline:none;
	padding:5px 15px;
	border:none;
	color:#fff;
	font-family: 'Staatliches', cursive;
 text-transform: uppercase;
 letter-spacing: 1px;
 cursor:pointer;
}


#back{
	background:linear-gradient(145deg,#B91372,#6B0F1A);
	border-radius:3px;
	outline:none;
	padding:5px 20px;
	border:none;
	color:#fff;
	font-family: 'Staatliches', cursive;
 text-transform: uppercase;
 letter-spacing: 2px;
 cursor:pointer;
}

.input{
	width:100%;
	height:6%;
	outline:none;
	border: 2px solid;
	box-shadow: 2px 2px black;
	border-radius:3px;
	font-family: 'Boogaloo', cursive;
}

footer{
    padding: 1em;
    background:#000;
    color: #fff;
    left: 0;
    bottom: 0; 
    position: fixed ;
    flex-shrink: 0; 
    width: 100vw;
    margin-top: 1em;
    font-size: 15px;
    font-family: 'Staatliches', cursive;
}

.img_2{
	width:auto;
	height:40%;
}


blockquote {
 width:100%;
 padding:15px;
 background:#f5f5f5;
 color:#333;
 margin:20px 0;
 border-left:4px solid #3da1ff;
}

.icon{
	font-size: 10px;
	color:#BABABA;
	font-weight:bold;
	text-decoration:none;
}

hr.style-seven { overflow: visible;  padding: 0; border: none; border-top: medium double #333; color: #333; text-align: center; } 
hr.style-seven:after { content: ""; display: inline-block; position: relative; top: -0.7em; font-size: 1.5em; padding: 0 0.25em; background: white; }


.chat_r{
	background:linear-gradient(145deg,#fad7a1,#e96d71);
	border-radius:3px;
	outline:none;
	padding:5px 14px;
	border:none;
	color:#000;
	font-family: 'Staatliches', cursive;
 text-transform: uppercase;
 cursor:pointer;
}