@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main_box{
    margin: 10px;
}
#output_box{
    margin: 0;
    display: none;
}

.textbox{
    resize:none;
	outline:none;
	border: 2px solid;
	box-shadow: 3px 3px black;
	border-radius:3px;
	font-size:14px;
    width: 100%;
    padding: 5px;
    height: 540px;
  font-family:  "Jost", sans-serif;
}

.run_btn {
    background:#8e3aff;
	border-radius:3px;
	outline:none;
	padding:5px 20px;
	border:none;
	color:#fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor:pointer;
  font-family: 'Russo One', sans-serif;
}

.output_back_btn{
    background:linear-gradient(145deg,#f4d03f ,#f5b041);
	border-radius:3px;
	outline:none;
	padding:5px 20px;
	border:none;
	color:#000;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 10px;
    cursor:pointer;
  font-family: 'Russo One', sans-serif;
}

.copy_btn{
    background:#000000;
	border-radius:3px;
	outline:none;
	padding:5px 15px;
	border:none;
	color:#fff;
    text-transform: uppercase;
    cursor:pointer;
  font-family: 'Russo One', sans-serif;
} 

.load_btn{
    background:#acff3a;
	border-radius:3px;
	outline:none;
	padding:5px 20px;
	border:none;
	color:#000;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor:pointer;
  font-family: 'Russo One', sans-serif;
}

.download_btn{
    background:#ff0099;
	border-radius:3px;
	outline:none;
	padding:5px 20px;
	border:none;
	color:#fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor:pointer;
  font-family: 'Russo One', sans-serif;
}

.popbox_btn{
    background:#3afff1;
	border-radius:3px;
	outline:none;
	padding:5px 8px;
	border:none;
	color:#000;
    font-size: 16px;
    
    font-weight: bold;
    text-decoration: none;
    cursor:pointer;
    transition: all 0.3s ease-out;
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target{
    visibility: visible;
    opacity: 1;
}

.popup{
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2{
    margin-top: 0;
    font-family: 'Quicksand', sans-serif;
    color: #333;
}

.popup .close{
    position: absolute;
    top: 20px;
    right: 20px;
    transition: all 200ms;
    font-size: 30px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.popup .close:hover{
    color: #06d85f;
}

.popup .content{
    max-height: 30%;
    overflow: auto;
}

#output{
    border: none;
    outline: none;
}

.input{
    width:100%;
	height:30px;
	outline:none;
	border: 1px solid;
	box-shadow: 2px 1px black;
	border-radius:2px;
	font-weight: bold;
	font-family: 'Quicksand', sans-serif;
}

#fileToLoad{
	background:#E7BA3D;
	border-radius:3px;
	outline:none;
	font-size: 14px;
	padding:5px 20px;
	border:none;
	color:#000;
 text-transform: uppercase;
 cursor:pointer;
}

#loadfile{
	background:#7C259E;
	border-radius:3px;
	outline:none;
	padding:5px 20px;
	border:none;
	color:#fff;
 text-transform: uppercase;
 cursor:pointer;
 font-family: 'Russo One', sans-serif;
}

.foot{   
    left: 0;
    bottom: 0;  
    position: fixed ;  
    margin: 10px;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
}

.darkmode_btn{
    background:#043c5c;
	border-radius:3px;
	outline:none;
	padding:5px 10px;
	border:none;
	color:#fff;
    text-transform: uppercase;
    cursor:pointer;
  font-family: 'Russo One', sans-serif;
}

.overlay2{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay2:target{
    visibility: visible;
    opacity: 1;
}

.popup3{
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup3 .close2{
    position: absolute;
    top: 20px;
    right: 20px;
    transition: all 200ms;
    font-size: 30px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.popup3 .close2:hover{
    color: #06d85f;
}

.popup3 .content2{
    max-height: 30%;
    overflow: auto;
}

.pages{
    text-decoration: none;
    color: #00a2ff;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
}

.pages span{
    color: #000;
    font-weight: 700;
    font-size: 16px;
}

.info{
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
}

.icons{
  text-align: center;
}

/* mobile size  */

@media screen and (max-width: 700px){
    .popup{
        width: 90%;
    }
    .popup3{
        width: 90%;
    }
    .textbox{
        resize:none;
        outline:none;
        border: 2px solid;
        box-shadow: 3px 3px black;
        border-radius:3px;
        font-size:14px;
        width: 100%;
        padding: 5px;
        height: 410px;
        font-family:  "Jost", sans-serif;
    }
    .foot{   
        left: 0;
        bottom: 0;  
        position: fixed ;  
        margin: 10px;
        font-size: 10px;
        font-weight: bold;
        font-family: 'Quicksand', sans-serif;
    }
    
}

/* dark mode area  */

.darkmode{
    background: #121212;
}
.darkmode #output_box{
    background: white;
}
.darkmode #main_box{
    color: #fff;
    background: #121212;
}
.darkmode .textbox{
    resize:none;
    outline:none;
    background-color: #121212;
    color: #ffff00;
    padding: 5px;
    border: 2px solid #323232;
    box-shadow: 3px 3px #323232;
    border-radius:3px;
    font-size:14px;
    width: 100%;
    height: 540;
}
